body {
    background-color: rgba(0, 0, 0, 0.9);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    color-scheme: dark;
    align-items: center;
    color: white;
    margin-left: 1vh;
}
.top-bar {
    display: flexbox;
    
}