body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    text-align: center;
    color-scheme: dark;
    align-items: center;
    background-color: black;
    color: white;
    background: rgb(97, 42, 133);
    background: linear-gradient(5deg, rgba(97,42,133,1) 0%, rgb(24, 33, 129) 70%, rgb(58, 199, 214) 100%); 
  }
button {
  font-size: x-large;
  margin-top: 15vh;
  width: 50vh;
  height: 10vh;
  border-radius: 4vh;
  border-width: 3px;
  border-style: solid;
  transition: 0.15s;
}
button:hover {
  background-color: rgb(31,32,34);
}